<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
>
    <bean id="mainBean" class="ua.aleksandr.ciklumwebhw.servlets.MainServlet">
        <property name="service" ref="serviceBean"/>
    </bean>

    <bean id="serviceBean" class="ua.aleksandr.ciklumwebhw.service.ServiceImpl">
        <constructor-arg ref="managerBean"/>
    </bean>

    <bean id="managerBean" class="ua.aleksandr.ciklumwebhw.dao.JDBCManager"/>
</beans>